p {
    font-family: "Permanent Marker", system-ui;
    text-align: center;
    color: rgb(8, 8, 82);
    padding: 20px;
}
h1 {
    padding: 20px;
    font-family: "Permanent Marker", system-ui;
    text-align: center;
}
h2 {
    font-family: "Permanent Marker", system-ui;
    text-align: center;
}
h3 {
    font-family: "Permanent Marker", system-ui;
    text-align: center;
}
h4 {
    font-family: "Permanent Marker", system-ui;
    text-align: center;
}
h5 {
    font-family: "Permanent Marker", system-ui;
    text-align: center;
}
ol{
    font-family: "Permanent Marker", system-ui;
}
ul {
    font-family: "Permanent Marker", system-ui;
}
a {
    font-family: "Permanent Marker", system-ui;
    color: red;
}
body {
    background-color: 	#748cab;
}
hr {
    border-color: black;
}
img {
    border: solid white 5px;
    margin-left: 495px;
}
  